.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  grid-row-gap: var(--token-uGRLJwfQsMfQ);
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.freeBox {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0px;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-uGRLJwfQsMfQ));
  height: calc(100% + var(--token-uGRLJwfQsMfQ));
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-uGRLJwfQsMfQ);
}
.fontSize1 {
  display: flex;
  flex-direction: column;
  padding: 0px;
}
.fontSize1 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-2F84lHAgOKvb));
  height: calc(100% + var(--token-2F84lHAgOKvb));
}
.fontSize1 > :global(.__wab_flex-container) > *,
.fontSize1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.fontSize1 > :global(.__wab_flex-container) > picture > img,
.fontSize1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-2F84lHAgOKvb);
}
.label1 {
  display: flex;
  flex-direction: row;
  padding: 0px;
}
.label1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-ph7oBiL6eBvc));
  width: calc(100% + var(--token-ph7oBiL6eBvc));
}
.label1 > :global(.__wab_flex-container) > *,
.label1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.label1 > :global(.__wab_flex-container) > picture > img,
.label1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-ph7oBiL6eBvc);
}
.text__uOsx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.value1 {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 0px;
}
.value1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-ph7oBiL6eBvc));
  width: calc(100% + var(--token-ph7oBiL6eBvc));
}
.value1 > :global(.__wab_flex-container) > *,
.value1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.value1 > :global(.__wab_flex-container) > picture > img,
.value1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-ph7oBiL6eBvc);
}
.text__nmy1L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-JfuzJEPVALUL);
  min-width: 0;
}
.fontSize2 {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0px;
}
.fontSize2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-2F84lHAgOKvb));
  height: calc(100% + var(--token-2F84lHAgOKvb));
}
.fontSize2 > :global(.__wab_flex-container) > *,
.fontSize2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.fontSize2 > :global(.__wab_flex-container) > picture > img,
.fontSize2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-2F84lHAgOKvb);
}
.label2 {
  display: flex;
  flex-direction: row;
  padding: 0px;
}
.label2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-ph7oBiL6eBvc));
  width: calc(100% + var(--token-ph7oBiL6eBvc));
}
.label2 > :global(.__wab_flex-container) > *,
.label2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.label2 > :global(.__wab_flex-container) > picture > img,
.label2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-ph7oBiL6eBvc);
}
.text__nKrY1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.value2 {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 0px;
}
.value2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-ph7oBiL6eBvc));
  width: calc(100% + var(--token-ph7oBiL6eBvc));
}
.value2 > :global(.__wab_flex-container) > *,
.value2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.value2 > :global(.__wab_flex-container) > picture > img,
.value2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-ph7oBiL6eBvc);
}
.text__cKv5C {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-GIleTlhNdO1E);
  min-width: 0;
}
.fontSize3 {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0px;
}
.fontSize3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-2F84lHAgOKvb));
  height: calc(100% + var(--token-2F84lHAgOKvb));
}
.fontSize3 > :global(.__wab_flex-container) > *,
.fontSize3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.fontSize3 > :global(.__wab_flex-container) > picture > img,
.fontSize3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-2F84lHAgOKvb);
}
.label3 {
  display: flex;
  flex-direction: row;
  padding: 0px;
}
.label3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-ph7oBiL6eBvc));
  width: calc(100% + var(--token-ph7oBiL6eBvc));
}
.label3 > :global(.__wab_flex-container) > *,
.label3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.label3 > :global(.__wab_flex-container) > picture > img,
.label3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-ph7oBiL6eBvc);
}
.text__ioIM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.value3 {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 0px;
}
.value3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-ph7oBiL6eBvc));
  width: calc(100% + var(--token-ph7oBiL6eBvc));
}
.value3 > :global(.__wab_flex-container) > *,
.value3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.value3 > :global(.__wab_flex-container) > picture > img,
.value3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-ph7oBiL6eBvc);
}
.text__k5WtZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-E-XpXqdEPBpB);
  min-width: 0;
}
.fontSize4 {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0px;
}
.fontSize4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-2F84lHAgOKvb));
  height: calc(100% + var(--token-2F84lHAgOKvb));
}
.fontSize4 > :global(.__wab_flex-container) > *,
.fontSize4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.fontSize4 > :global(.__wab_flex-container) > picture > img,
.fontSize4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-2F84lHAgOKvb);
}
.label4 {
  display: flex;
  flex-direction: row;
  padding: 0px;
}
.label4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-ph7oBiL6eBvc));
  width: calc(100% + var(--token-ph7oBiL6eBvc));
}
.label4 > :global(.__wab_flex-container) > *,
.label4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.label4 > :global(.__wab_flex-container) > picture > img,
.label4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-ph7oBiL6eBvc);
}
.text__hgDkM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.value4 {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 0px;
}
.value4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-ph7oBiL6eBvc));
  width: calc(100% + var(--token-ph7oBiL6eBvc));
}
.value4 > :global(.__wab_flex-container) > *,
.value4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.value4 > :global(.__wab_flex-container) > picture > img,
.value4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-ph7oBiL6eBvc);
}
.text__jy4W {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-lSejyBNu19BF);
  min-width: 0;
}
.fontSize5 {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0px;
}
.fontSize5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-2F84lHAgOKvb));
  height: calc(100% + var(--token-2F84lHAgOKvb));
}
.fontSize5 > :global(.__wab_flex-container) > *,
.fontSize5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.fontSize5 > :global(.__wab_flex-container) > picture > img,
.fontSize5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-2F84lHAgOKvb);
}
.label5 {
  display: flex;
  flex-direction: row;
  padding: 0px;
}
.label5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-ph7oBiL6eBvc));
  width: calc(100% + var(--token-ph7oBiL6eBvc));
}
.label5 > :global(.__wab_flex-container) > *,
.label5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.label5 > :global(.__wab_flex-container) > picture > img,
.label5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-ph7oBiL6eBvc);
}
.text__dqz28 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.value5 {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 0px;
}
.value5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-ph7oBiL6eBvc));
  width: calc(100% + var(--token-ph7oBiL6eBvc));
}
.value5 > :global(.__wab_flex-container) > *,
.value5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.value5 > :global(.__wab_flex-container) > picture > img,
.value5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-ph7oBiL6eBvc);
}
.text__nQg9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-QSSa2VFfR_qN);
  min-width: 0;
}
.fontSize6 {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0px;
}
.fontSize6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-2F84lHAgOKvb));
  height: calc(100% + var(--token-2F84lHAgOKvb));
}
.fontSize6 > :global(.__wab_flex-container) > *,
.fontSize6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.fontSize6 > :global(.__wab_flex-container) > picture > img,
.fontSize6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-2F84lHAgOKvb);
}
.label6 {
  display: flex;
  flex-direction: row;
  padding: 0px;
}
.label6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-ph7oBiL6eBvc));
  width: calc(100% + var(--token-ph7oBiL6eBvc));
}
.label6 > :global(.__wab_flex-container) > *,
.label6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.label6 > :global(.__wab_flex-container) > picture > img,
.label6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-ph7oBiL6eBvc);
}
.text__gmFi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.value6 {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 0px;
}
.value6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-ph7oBiL6eBvc));
  width: calc(100% + var(--token-ph7oBiL6eBvc));
}
.value6 > :global(.__wab_flex-container) > *,
.value6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.value6 > :global(.__wab_flex-container) > picture > img,
.value6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-ph7oBiL6eBvc);
}
.text__ukBSf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-O9vtaTWsBgdj);
  min-width: 0;
}
.fontSize7 {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0px;
}
.fontSize7 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-2F84lHAgOKvb));
  height: calc(100% + var(--token-2F84lHAgOKvb));
}
.fontSize7 > :global(.__wab_flex-container) > *,
.fontSize7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.fontSize7 > :global(.__wab_flex-container) > picture > img,
.fontSize7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-2F84lHAgOKvb);
}
.label7 {
  display: flex;
  flex-direction: row;
  padding: 0px;
}
.label7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-ph7oBiL6eBvc));
  width: calc(100% + var(--token-ph7oBiL6eBvc));
}
.label7 > :global(.__wab_flex-container) > *,
.label7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.label7 > :global(.__wab_flex-container) > picture > img,
.label7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-ph7oBiL6eBvc);
}
.text__p7JRz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.value7 {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 0px;
}
.value7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-ph7oBiL6eBvc));
  width: calc(100% + var(--token-ph7oBiL6eBvc));
}
.value7 > :global(.__wab_flex-container) > *,
.value7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.value7 > :global(.__wab_flex-container) > picture > img,
.value7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-ph7oBiL6eBvc);
}
.text___45Her {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-mpivALeJxat5);
  min-width: 0;
}
.fontSize8 {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0px;
}
.fontSize8 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-2F84lHAgOKvb));
  height: calc(100% + var(--token-2F84lHAgOKvb));
}
.fontSize8 > :global(.__wab_flex-container) > *,
.fontSize8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.fontSize8 > :global(.__wab_flex-container) > picture > img,
.fontSize8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-2F84lHAgOKvb);
}
.label8 {
  display: flex;
  flex-direction: row;
  padding: 0px;
}
.label8 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-ph7oBiL6eBvc));
  width: calc(100% + var(--token-ph7oBiL6eBvc));
}
.label8 > :global(.__wab_flex-container) > *,
.label8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.label8 > :global(.__wab_flex-container) > picture > img,
.label8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-ph7oBiL6eBvc);
}
.text__szAoa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.value8 {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 0px;
}
.value8 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-ph7oBiL6eBvc));
  width: calc(100% + var(--token-ph7oBiL6eBvc));
}
.value8 > :global(.__wab_flex-container) > *,
.value8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.value8 > :global(.__wab_flex-container) > picture > img,
.value8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-ph7oBiL6eBvc);
}
.text__d1Aex {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-YUUshI2lfBP0);
  min-width: 0;
}
.fontSize9 {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0px;
}
.fontSize9 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-2F84lHAgOKvb));
  height: calc(100% + var(--token-2F84lHAgOKvb));
}
.fontSize9 > :global(.__wab_flex-container) > *,
.fontSize9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.fontSize9 > :global(.__wab_flex-container) > picture > img,
.fontSize9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-2F84lHAgOKvb);
}
.label9 {
  display: flex;
  flex-direction: row;
  padding: 0px;
}
.label9 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-ph7oBiL6eBvc));
  width: calc(100% + var(--token-ph7oBiL6eBvc));
}
.label9 > :global(.__wab_flex-container) > *,
.label9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.label9 > :global(.__wab_flex-container) > picture > img,
.label9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-ph7oBiL6eBvc);
}
.text__cqc3C {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.value9 {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 0px;
}
.value9 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-ph7oBiL6eBvc));
  width: calc(100% + var(--token-ph7oBiL6eBvc));
}
.value9 > :global(.__wab_flex-container) > *,
.value9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.value9 > :global(.__wab_flex-container) > picture > img,
.value9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-ph7oBiL6eBvc);
}
.text__skSxl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-CfYR05E2Y9yi);
  min-width: 0;
}
.fontSize10 {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0px;
}
.fontSize10 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-2F84lHAgOKvb));
  height: calc(100% + var(--token-2F84lHAgOKvb));
}
.fontSize10 > :global(.__wab_flex-container) > *,
.fontSize10 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.fontSize10 > :global(.__wab_flex-container) > picture > img,
.fontSize10
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-2F84lHAgOKvb);
}
.label10 {
  display: flex;
  flex-direction: row;
  padding: 0px;
}
.label10 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-ph7oBiL6eBvc));
  width: calc(100% + var(--token-ph7oBiL6eBvc));
}
.label10 > :global(.__wab_flex-container) > *,
.label10 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.label10 > :global(.__wab_flex-container) > picture > img,
.label10
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-ph7oBiL6eBvc);
}
.text__tYx9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.value10 {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 0px;
}
.value10 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-ph7oBiL6eBvc));
  width: calc(100% + var(--token-ph7oBiL6eBvc));
}
.value10 > :global(.__wab_flex-container) > *,
.value10 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.value10 > :global(.__wab_flex-container) > picture > img,
.value10
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-ph7oBiL6eBvc);
}
.text__so0Rp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-zwVdR2TS28Y-);
  min-width: 0;
}
.fontSize11 {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0px;
}
.fontSize11 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-2F84lHAgOKvb));
  height: calc(100% + var(--token-2F84lHAgOKvb));
}
.fontSize11 > :global(.__wab_flex-container) > *,
.fontSize11 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.fontSize11 > :global(.__wab_flex-container) > picture > img,
.fontSize11
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-2F84lHAgOKvb);
}
.label11 {
  display: flex;
  flex-direction: row;
  padding: 0px;
}
.label11 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-ph7oBiL6eBvc));
  width: calc(100% + var(--token-ph7oBiL6eBvc));
}
.label11 > :global(.__wab_flex-container) > *,
.label11 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.label11 > :global(.__wab_flex-container) > picture > img,
.label11
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-ph7oBiL6eBvc);
}
.text__mw2Uz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.value11 {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 0px;
}
.value11 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-ph7oBiL6eBvc));
  width: calc(100% + var(--token-ph7oBiL6eBvc));
}
.value11 > :global(.__wab_flex-container) > *,
.value11 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.value11 > :global(.__wab_flex-container) > picture > img,
.value11
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-ph7oBiL6eBvc);
}
.text__q0X7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-LYrLkb8drA1P);
  min-width: 0;
}
.fontSize12 {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0px;
}
.fontSize12 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-2F84lHAgOKvb));
  height: calc(100% + var(--token-2F84lHAgOKvb));
}
.fontSize12 > :global(.__wab_flex-container) > *,
.fontSize12 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.fontSize12 > :global(.__wab_flex-container) > picture > img,
.fontSize12
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-2F84lHAgOKvb);
}
.label12 {
  display: flex;
  flex-direction: row;
  padding: 0px;
}
.label12 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-ph7oBiL6eBvc));
  width: calc(100% + var(--token-ph7oBiL6eBvc));
}
.label12 > :global(.__wab_flex-container) > *,
.label12 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.label12 > :global(.__wab_flex-container) > picture > img,
.label12
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-ph7oBiL6eBvc);
}
.text__zubrB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.value12 {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 0px;
}
.value12 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-ph7oBiL6eBvc));
  width: calc(100% + var(--token-ph7oBiL6eBvc));
}
.value12 > :global(.__wab_flex-container) > *,
.value12 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.value12 > :global(.__wab_flex-container) > picture > img,
.value12
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-ph7oBiL6eBvc);
}
.text__zA40 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-BuZv_QBeb2vb);
  min-width: 0;
}
.fontSize13 {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0px;
}
.fontSize13 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-2F84lHAgOKvb));
  height: calc(100% + var(--token-2F84lHAgOKvb));
}
.fontSize13 > :global(.__wab_flex-container) > *,
.fontSize13 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.fontSize13 > :global(.__wab_flex-container) > picture > img,
.fontSize13
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-2F84lHAgOKvb);
}
.label13 {
  display: flex;
  flex-direction: row;
  padding: 0px;
}
.label13 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-ph7oBiL6eBvc));
  width: calc(100% + var(--token-ph7oBiL6eBvc));
}
.label13 > :global(.__wab_flex-container) > *,
.label13 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.label13 > :global(.__wab_flex-container) > picture > img,
.label13
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-ph7oBiL6eBvc);
}
.text__m9VaQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.value13 {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 0px;
}
.value13 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-ph7oBiL6eBvc));
  width: calc(100% + var(--token-ph7oBiL6eBvc));
}
.value13 > :global(.__wab_flex-container) > *,
.value13 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.value13 > :global(.__wab_flex-container) > picture > img,
.value13
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-ph7oBiL6eBvc);
}
.text__sXjgl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-NmTA-Nbo4JB4);
  min-width: 0;
}
.fontSize14 {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0px;
}
.fontSize14 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-2F84lHAgOKvb));
  height: calc(100% + var(--token-2F84lHAgOKvb));
}
.fontSize14 > :global(.__wab_flex-container) > *,
.fontSize14 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.fontSize14 > :global(.__wab_flex-container) > picture > img,
.fontSize14
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-2F84lHAgOKvb);
}
.label14 {
  display: flex;
  flex-direction: row;
  padding: 0px;
}
.label14 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-ph7oBiL6eBvc));
  width: calc(100% + var(--token-ph7oBiL6eBvc));
}
.label14 > :global(.__wab_flex-container) > *,
.label14 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.label14 > :global(.__wab_flex-container) > picture > img,
.label14
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-ph7oBiL6eBvc);
}
.text__fB3OK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.value14 {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 0px;
}
.value14 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-ph7oBiL6eBvc));
  width: calc(100% + var(--token-ph7oBiL6eBvc));
}
.value14 > :global(.__wab_flex-container) > *,
.value14 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.value14 > :global(.__wab_flex-container) > picture > img,
.value14
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-ph7oBiL6eBvc);
}
.text___15Oqt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-T3Sv8UAUez1R);
  margin-bottom: 0px;
  min-width: 0;
}
.fontSize15 {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0px;
}
.fontSize15 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-2F84lHAgOKvb));
  height: calc(100% + var(--token-2F84lHAgOKvb));
}
.fontSize15 > :global(.__wab_flex-container) > *,
.fontSize15 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.fontSize15 > :global(.__wab_flex-container) > picture > img,
.fontSize15
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-2F84lHAgOKvb);
}
.label15 {
  display: flex;
  flex-direction: row;
  padding: 0px;
}
.label15 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-ph7oBiL6eBvc));
  width: calc(100% + var(--token-ph7oBiL6eBvc));
}
.label15 > :global(.__wab_flex-container) > *,
.label15 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.label15 > :global(.__wab_flex-container) > picture > img,
.label15
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-ph7oBiL6eBvc);
}
.text__feSBz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.value15 {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 0px;
}
.value15 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-ph7oBiL6eBvc));
  width: calc(100% + var(--token-ph7oBiL6eBvc));
}
.value15 > :global(.__wab_flex-container) > *,
.value15 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.value15 > :global(.__wab_flex-container) > picture > img,
.value15
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-ph7oBiL6eBvc);
}
.text__rSFmJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-DSe3tNALG7hu);
  min-width: 0;
}
.fontSize16 {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0px;
}
.fontSize16 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-2F84lHAgOKvb));
  height: calc(100% + var(--token-2F84lHAgOKvb));
}
.fontSize16 > :global(.__wab_flex-container) > *,
.fontSize16 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.fontSize16 > :global(.__wab_flex-container) > picture > img,
.fontSize16
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-2F84lHAgOKvb);
}
.label16 {
  display: flex;
  flex-direction: row;
  padding: 0px;
}
.label16 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-ph7oBiL6eBvc));
  width: calc(100% + var(--token-ph7oBiL6eBvc));
}
.label16 > :global(.__wab_flex-container) > *,
.label16 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.label16 > :global(.__wab_flex-container) > picture > img,
.label16
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-ph7oBiL6eBvc);
}
.text__cbq7M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.value16 {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 0px;
}
.value16 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-ph7oBiL6eBvc));
  width: calc(100% + var(--token-ph7oBiL6eBvc));
}
.value16 > :global(.__wab_flex-container) > *,
.value16 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.value16 > :global(.__wab_flex-container) > picture > img,
.value16
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-ph7oBiL6eBvc);
}
.text__zpvQn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-fktwmjOk51kL);
  min-width: 0;
}
.fontSize17 {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0px;
}
.fontSize17 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-2F84lHAgOKvb));
  height: calc(100% + var(--token-2F84lHAgOKvb));
}
.fontSize17 > :global(.__wab_flex-container) > *,
.fontSize17 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.fontSize17 > :global(.__wab_flex-container) > picture > img,
.fontSize17
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-2F84lHAgOKvb);
}
.label17 {
  display: flex;
  flex-direction: row;
  padding: 0px;
}
.label17 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-ph7oBiL6eBvc));
  width: calc(100% + var(--token-ph7oBiL6eBvc));
}
.label17 > :global(.__wab_flex-container) > *,
.label17 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.label17 > :global(.__wab_flex-container) > picture > img,
.label17
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-ph7oBiL6eBvc);
}
.text__yvwyx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.value17 {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 0px;
}
.value17 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-ph7oBiL6eBvc));
  width: calc(100% + var(--token-ph7oBiL6eBvc));
}
.value17 > :global(.__wab_flex-container) > *,
.value17 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.value17 > :global(.__wab_flex-container) > picture > img,
.value17
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-ph7oBiL6eBvc);
}
.text__aRezL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-R4ai3pmJGhRZ);
  min-width: 0;
}
.fontSize18 {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0px;
}
.fontSize18 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-2F84lHAgOKvb));
  height: calc(100% + var(--token-2F84lHAgOKvb));
}
.fontSize18 > :global(.__wab_flex-container) > *,
.fontSize18 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.fontSize18 > :global(.__wab_flex-container) > picture > img,
.fontSize18
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-2F84lHAgOKvb);
}
.label18 {
  display: flex;
  flex-direction: row;
  padding: 0px;
}
.label18 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-ph7oBiL6eBvc));
  width: calc(100% + var(--token-ph7oBiL6eBvc));
}
.label18 > :global(.__wab_flex-container) > *,
.label18 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.label18 > :global(.__wab_flex-container) > picture > img,
.label18
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-ph7oBiL6eBvc);
}
.text__dokGn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.value18 {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 0px;
}
.value18 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-ph7oBiL6eBvc));
  width: calc(100% + var(--token-ph7oBiL6eBvc));
}
.value18 > :global(.__wab_flex-container) > *,
.value18 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.value18 > :global(.__wab_flex-container) > picture > img,
.value18
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-ph7oBiL6eBvc);
}
.text__jGzDp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-tKH9zSWhPTwX);
  min-width: 0;
}
.fontSize19 {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0px;
}
.fontSize19 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-2F84lHAgOKvb));
  height: calc(100% + var(--token-2F84lHAgOKvb));
}
.fontSize19 > :global(.__wab_flex-container) > *,
.fontSize19 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.fontSize19 > :global(.__wab_flex-container) > picture > img,
.fontSize19
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-2F84lHAgOKvb);
}
.label19 {
  display: flex;
  flex-direction: row;
  padding: 0px;
}
.label19 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-ph7oBiL6eBvc));
  width: calc(100% + var(--token-ph7oBiL6eBvc));
}
.label19 > :global(.__wab_flex-container) > *,
.label19 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.label19 > :global(.__wab_flex-container) > picture > img,
.label19
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-ph7oBiL6eBvc);
}
.text__vBRt2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.value19 {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 0px;
}
.value19 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-ph7oBiL6eBvc));
  width: calc(100% + var(--token-ph7oBiL6eBvc));
}
.value19 > :global(.__wab_flex-container) > *,
.value19 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.value19 > :global(.__wab_flex-container) > picture > img,
.value19
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-ph7oBiL6eBvc);
}
.text__vDlb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-ip--FKWYc-rU);
  min-width: 0;
}
.fontSize20 {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0px;
}
.fontSize20 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-2F84lHAgOKvb));
  height: calc(100% + var(--token-2F84lHAgOKvb));
}
.fontSize20 > :global(.__wab_flex-container) > *,
.fontSize20 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.fontSize20 > :global(.__wab_flex-container) > picture > img,
.fontSize20
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-2F84lHAgOKvb);
}
.label20 {
  display: flex;
  flex-direction: row;
  padding: 0px;
}
.label20 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-ph7oBiL6eBvc));
  width: calc(100% + var(--token-ph7oBiL6eBvc));
}
.label20 > :global(.__wab_flex-container) > *,
.label20 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.label20 > :global(.__wab_flex-container) > picture > img,
.label20
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-ph7oBiL6eBvc);
}
.text__whqYd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.value20 {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 0px;
}
.value20 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-ph7oBiL6eBvc));
  width: calc(100% + var(--token-ph7oBiL6eBvc));
}
.value20 > :global(.__wab_flex-container) > *,
.value20 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.value20 > :global(.__wab_flex-container) > picture > img,
.value20
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-ph7oBiL6eBvc);
}
.text__hdwyG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-ATkcoPOnR-HH);
  min-width: 0;
}
